.hero {
    background: #353434 url("../images/hero-bg0.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
    color: rgb(226, 232, 240);
    height: 100svh;
    width: 100svw;
}
  
.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 100%;
    padding: 0 20px;
    text-align: center;
}

.container > h1 {
    font-weight: 700;
    font-size: 30px;  
}
  
.container > h3 {
    font-size: 20px;
    font-weight: 500;
}

.btn {
    display: inline-block;
    background: rgb(7, 86, 161);
    background: linear-gradient(45deg, rgb(7, 86, 161) 0%, rgb(21, 158, 250) 50%, rgb(21, 147, 250) 100%);
    transition: all ease-in-out 300ms;
    border-radius: 50px;
    padding: 8px 16px;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(226, 232, 240);
    font-weight: bold;
}
  
.btn:hover {
    background: rgb(21, 147, 250);
    background: linear-gradient(45deg, rgb(21, 147, 250) 0%, rgb(21, 158, 250) 50%, rgb(7, 86, 161) 100%);
}

.stories, .memories, .magazine {
    padding: 40px 20px;
}

.gallery-content img {
    width: 80px;
    aspect-ratio: 1;
    object-fit: cover;
    margin: 5px;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.25s ease;
}

.gallery-content img:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: 10% auto;
    display: block;
    width: 80%;
    aspect-ratio: 1;
    max-width: 700px;
    border-radius: 16px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.memories {
    background: rgb(21, 147, 250);
    background: linear-gradient(45deg, rgb(21, 147, 250) 0%, rgb(21, 158, 250) 50%, rgb(7, 86, 161) 100%);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    color: var(--wht);
}

.memories > div {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;
    margin-top: 16px;
}

.memories > div > iframe {
    width: 280px;
    aspect-ratio: 2/1;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

.magazine {
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.magazine > div {
    width: 100%;
}

.magazine > div > img {
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: 16px;
}



@media (min-width: 768px) {
    .container {
        width: 70%;
        margin: auto;
    }
    
    .container > h1 {
        font-size: 48px;
    }
    
    .container > h3 {
        font-size: 30px;
    }

    .stories, .memories, .magazine {
        padding: 40px 80px;
    }

    .gallery-content img {
        width: 100px;
    }

    .magazine {
        flex-flow: row;
    }

    .magazine > div > img {
        aspect-ratio: 1;
    }
}



@media (min-width: 1024px) {
    .magazine > div > img {
        aspect-ratio: 2/1;
    }
}