@import '@glidejs/glide/dist/css/glide.core.min.css';
@import '@glidejs/glide/dist/css/glide.theme.min.css';



*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    line-height: 1.5;
    scroll-behavior: smooth;
}

:root {
    --wht: #f1f1f1;
    --gry: #808080;
    --blk: #1f1e1e;
    --blu: #0756a1;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background: var(--blu);
    color: var(--wht);
    padding: 20px;
}

header > img {
    width: 50px;
    aspect-ratio: 1;
}

nav {
    display: none;
    position: absolute;
    padding: 20px;
    top: 60px;
    right: 100%;
    background: inherit;
    border-bottom-left-radius: 30px;
    transition: all ease-in-out 300ms;
    z-index: 30;
}

nav ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 12px;
    list-style: none;
    font-size: 20px;
}

.show {
    display: block;
    right: 0;
    width: 50%;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    color: var(--gry);
    transition: all ease-in-out 300ms;
}

.menu-btn {
    width: 2em;
    height: 2em;
    vertical-align: -0.125em;
    background: transparent;
    color: var(--wht);
}

h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

h5 {
    font-size: 20px;
    font-weight: 500;
}

h6 {
    font-size: 16px;
    font-weight: 300;
}

/* p {
    font-size: 12px;
} */

footer {
    background: var(--blk);
    color: var(--wht);
    padding: 40px 20px;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.social-icon {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social-icon > a {
    text-decoration: none;
    color: inherit;
}

.social-icon > a:hover {
    color: var(--blu);
}



@media (min-width: 768px) {
    header {
        padding: 20px 80px;
    }

    nav {
        display: inline-block;
        padding: 0;
        position: relative;
        top: auto;
        right: auto;
        border-radius: 0;
        transition: none;
    }

    nav ul {
        flex-flow: row;
    }

    .menu-btn {
        display: none;
    }

    footer {
        padding: 40px 80px;
        flex-flow: row;
        justify-content: space-between;
    }
}